<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>sidekick</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>in.sidekick</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>app-1-780346619181-ios-5edb88e8e2e45b1ee40fa4</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>tez</string>
			<string>phonepe</string>
			<string>paytm</string>
			<string>gpay</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<false />
			<key>NSAllowsLocalNetworking</key>
			<true />
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>We need camera access to scan QR codes for connecting your device via Bluetooth.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>$(PRODUCT_NAME) uses photos</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>We need your location to provide ride services while you're using the app.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>We need your location to provide ride services while you're using the app.</string>
		<key>NSBluetoothAlwaysUsageDescription</key>
		<string>We need Bluetooth access to connect your device via Bluetooth.</string>
		<key>NSBluetoothPeripheralUsageDescription</key>
		<string>We need Bluetooth access to connect your device via Bluetooth.</string>
		<key>UIAppFonts</key>
		<array>
			<string>PlusJakartaSans-Bold.ttf</string>
			<string>PlusJakartaSans-BoldItalic.ttf</string>
			<string>PlusJakartaSans-ExtraBold.ttf</string>
			<string>PlusJakartaSans-ExtraBoldItalic.ttf</string>
			<string>PlusJakartaSans-ExtraLight.ttf</string>
			<string>PlusJakartaSans-ExtraLightItalic.ttf</string>
			<string>PlusJakartaSans-Italic.ttf</string>
			<string>PlusJakartaSans-Light.ttf</string>
			<string>PlusJakartaSans-LightItalic.ttf</string>
			<string>PlusJakartaSans-Medium.ttf</string>
			<string>PlusJakartaSans-MediumItalic.ttf</string>
			<string>PlusJakartaSans-Regular.ttf</string>
			<string>PlusJakartaSans-SemiBold.ttf</string>
			<string>PlusJakartaSans-SemiBoldItalic.ttf</string>
			<string>Feather.ttf</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>arm64</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
	</dict>
</plist>